<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.mapper.BudgetMapper">

    <select id="selectList" resultType="com.finance.po.Budget">
        SELECT b.*, c.category_name
        FROM budget b
                 LEFT JOIN finance_category c ON b.category_id = c.id
        WHERE b.user_id = #{userId} AND b.cycle_value = #{cycleValue}
        ORDER BY b.create_time DESC
    </select>

    <select id="selectById" resultType="com.finance.po.Budget">
        SELECT * FROM budget WHERE id = #{id}
    </select>

    <select id="selectUnique" resultType="com.finance.po.Budget">
        SELECT * FROM budget
        WHERE user_id = #{userId}
          AND category_id = #{categoryId}
          AND cycle_value = #{cycleValue}
            LIMIT 1
    </select>

    <insert id="insert">
        INSERT INTO budget (user_id, category_id, cycle_type, cycle_value, budget_amount, used_amount, create_time, update_time)
        VALUES (#{userId}, #{categoryId}, #{cycleType}, #{cycleValue}, #{budgetAmount}, 0, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE budget
        SET budget_amount = #{budgetAmount}, update_time = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM budget WHERE id = #{id}
    </delete>
</mapper>