<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.mapper.FinanceCategoryMapper">

    <select id="selectByUserId" resultType="com.finance.po.FinanceCategory">
        SELECT * FROM finance_category
        WHERE user_id = 0 OR user_id = #{userId}
        ORDER BY type ASC, sort ASC, create_time DESC
    </select>

    <select id="selectById" resultType="com.finance.po.FinanceCategory">
        SELECT * FROM finance_category WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO finance_category (user_id, category_name, type, sort, is_default, create_time, update_time)
        VALUES (#{userId}, #{categoryName}, #{type}, #{sort}, 0, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE finance_category
        <set>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM finance_category WHERE id = #{id}
    </delete>

</mapper>