<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人信息</title>
  <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
<div th:replace="common/header :: header"></div>

<div class="container mt-4">
  <h2 class="mb-4">个人信息</h2>

  <div class="form-card">
    <form id="userInfoForm">
      <input type="hidden" id="userId" th:value="${user.id}">
      <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label">用户名</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="username" th:value="${user.username}">
        </div>
      </div>
      <div class="form-group row">
        <label for="nickname" class="col-sm-3 col-form-label">昵称</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nickname" name="nickname" th:value="${user.nickname}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label">手机号</label>
        <div class="col-sm-9">
          <input type="tel" class="form-control" id="phone" name="phone" th:value="${user.phone}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">邮箱</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
        </div>
      </div>
      <div class="form-group row">
        <label for="createTime" class="col-sm-3 col-form-label">注册时间</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="createTime" th:value="${#temporals.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}">
        </div>
      </div>
      <div class="form-group row">
        <label for="updateTime" class="col-sm-3 col-form-label">最后更新</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="updateTime" th:value="${#temporals.format(user.updateTime, 'yyyy-MM-dd HH:mm:ss')}">
        </div>
      </div>
      <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-primary">保存修改</button>
        <a th:href="@{/user/changePwd}" class="btn btn-info ml-3">修改密码</a>
      </div>
    </form>
  </div>
</div>

<div th:replace="common/footer :: footer"></div>

<script th:src="@{/static/lib/jquery.min.js}"></script>
<script th:src="@{/static/lib/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script>
  $(function() {
    $('#userInfoForm').submit(function(e) {
      e.preventDefault();
      let userId = $('#userId').val();
      let nickname = $('#nickname').val();
      let phone = $('#phone').val();
      let email = $('#email').val();

      sendAjaxRequest('/user/api/updateInfo', 'POST', { id: userId, nickname: nickname, phone: phone, email: email }, function() {
        showMessage('个人信息更新成功！', 'success');
        // 刷新页面以更新navbar昵称 (或者直接在common.js中更新session storage/局部dom)
        window.location.reload();
      });
    });
  });
</script>
</body>
</html>